*, *::before, *::after{
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


body{
    padding: 0px;
    margin: 0px;
    background: linear-gradient(to right, #00AAFF, #00FF6C );
}

.calculator-grid{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;   /*It will cover 100vh height all the time*/
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);   /*minmax - max is 'auto' cause in the output terminal we can enter a number of any length */
}

.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, .75);
}

.calculator-grid > button:hover {
    background-color: rgba(255, 255, 255, .9);
}

.span-two{
    grid-column: span 2;    /*The span elements will take a width of two rows  */
}

.output{
    grid-column: 1 / -1;   /* The output div will take the whole column length  */
    background-color:rgba(0, 0, 0, 0.75) ;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;

    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand{
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
}

.output .current-operand{
    color: white;
    font-size: 2.5rem;
}